
Library/Bee/artifacts/Android/d8kzr/libil2cpp.so
Library/Bee/artifacts/Android/il2cppOutput/build/arm64-v8a/libil2cpp.dbg.so
Library/Bee/artifacts/Android/il2cppOutput/build/armeabi-v7a/libil2cpp.dbg.so
Library/Bee/artifacts/Android/iz17e/libil2cpp.so
Library/Bee/artifacts/objcopy_5lmi/libil2cpp.dbg.so
Library/Bee/artifacts/objcopy_b9ry/libil2cpp.dbg.so
Library/ArtifactDB
Library/ArtifactDB
Library/ArtifactDB
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/intermediates/intermediary_bundle/debug/launcher-debug.aab
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/intermediates/module_bundle/debug/out/base.zip
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/outputs/apk/debug/launcher-debug.apk
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/outputs/bundle/debug/launcher-debug.aab
.vs/
Temp/
Library/
Obj/
Logs/
UserSettings/


